AI_PROVIDER=nvidia
AI_MODEL=deepseek-ai/deepseek-v4-pro

NVIDIA_API_KEY=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
DEEPSEEK_API_KEY=
OPENAI_API_KEY=

SESSION_SECRET_KEY=37f62e9666bb6895d34de9b61fd653cec7c18be89254e85986bae1a99c37c35c
ENCRYPTION_KEY=vBYdDt6k1pGFg33PouksCqzc0QlqEDwSrVuY-3msQeo=

SMS_PROVIDER=console
EMAIL_PROVIDER=console
APP_BASE_URL=http://localhost:8000