fastapi
uvicorn
openai
python-dotenv
python-multipart
pillow
pymupdf
pytesseract
reportlab
sqlalchemy
jinja2
httpx
markdown
itsdangerous
PyPDF2
bleach
pillow-heif
cryptography
passlib[bcrypt]
bcrypt==4.0.1
slowapi